@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    background-color: #fff;
}

.logo {
    margin-top: 200;
    height: 200px;  
    width: 500px;
}

.logo:hover {
    /*aumenta a opacidade do logo*/
    opacity: 0.5;
    /*configura o tempo da animação*/
    animation-duration: 0.6s;
    /*cria efeitos de animação*/
    transition: 0.3s ease;
}

h1 {
    text-align: center;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-size: 45px;
}

nav {
    /*centralizar o menu*/
    text-align: center;
    /*descer um pouco o menu*/
    margin-top: 50px;
}

nav ul li {
    /*colocar o menu nav um do lado do outro*/
    display: inline;
    /*define o espaçamento do menu*/
    padding-left: 5px;
}

nav a {
    /*tira o sublinhado do texto*/
    text-decoration: none;
    /*defini uma distancia interna entre o elemento e sua borda*/
    padding: 8px;
    /*define a cor do texto*/
    color: #000;
    /*define o tamanho do texto*/
    font-size: 25px;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

/*estiliza o menu quando passamos o cursor por cima*/
nav a:hover {
    /*permite que desative a propriedades dos outros elementos*/
    border: none;
    /*entende que ao passar o cursor por cima, é algo clicável*/
    cursor: pointer;
    /*forma de interação ao passar o cursor por cima da caixinha*/
    transition: background-color 0.3s ease;
    background-color: #dbd10b;
}

.redes a {
    /*tira o sublinhado do texto*/
    text-decoration: none;
    /*deixa a borda arredondada*/
    border-radius: 5px;
    /*cria uma pequena bordinha em volta das caixinhas*/
    /*border: 0.5px solid #000;*/
    /*defini uma distancia interna entre o elemento e sua borda*/
    padding: 8px;
    color: #000;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

/*=====================================================================================================*/
/* Estilizando a lista de blocos */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 30px;
}

.container .bloco {
    position: relative;
    width: 300px;
    height: 450px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 15px 25px;
    background-size: cover;
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
    transition: all 0.5s ease 0s;
}

/* Estilizando cada bloco individualmente */
.bloco {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilizando a imagem do bloco */
/*.bloco img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}*/

/* Estilizando o título do bloco */
.bloco h2 {
    margin-top: 10px;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-size: 18px;
}

/* Estilizando a descrição do bloco */
.bloco p {
    margin-top: 10px;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-size: 14px;
    text-align: left;
}

/* Estilizando o botão do bloco */
.bloco button {
    padding: 8px 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.bloco button:hover {
    background-color: #2980b9;
    color: #aca418;
}

.bloco button a {
    /*tira o sublinhado do texto*/
    text-decoration: none;
    /*deixa a borda arredondada*/
    border-radius: 5px;
    /*cria uma pequena bordinha em volta das caixinhas*/
    /*border: 0.5px solid #000;*/
    /*defini uma distancia interna entre o elemento e sua borda*/
    padding: 8px;
    color: #000;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

.bloco button a:hover {
    /*permite que desative a propriedades dos outros elementos*/
    border: none;
    /*entende que ao passar o cursor por cima, é algo clicável*/
    cursor: pointer;
    /*forma de interação ao passar o cursor por cima da caixinha*/
    transition: background-color 0.3s ease;
    color: #fff;
}

/*=====================================================================================================*/